<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean id="SpringContextUtil" class="org.notepress.util.spring.SpringContextUtil" />
		
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://192.168.1.101:3306/notepress">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="initialSize" value="5"></property>
		<property name="maxActive" value="50"></property>
		<property name="maxIdle" value="10"></property>
		<property name="minIdle" value="0"></property>
		<property name="maxWait" value="3000"></property>
		<property name="testOnBorrow" value="false"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="entityInterceptor">
			<bean id="userInterceptor"
				class="org.notepress.util.hibernate.UserInterceptor" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>
					org/notepress/security/model/AccountRole.hbm.xml
				</value>
				<value>
					org/notepress/security/model/Account.hbm.xml
				</value>
				<value>
					org/notepress/security/model/RoleFunction.hbm.xml
				</value>
				<value>
					org/notepress/security/model/Role.hbm.xml
				</value>
				<value>
					org/notepress/security/model/Function.hbm.xml
				</value>
				<value>
					org/notepress/config/model/Options.hbm.xml
				</value>
				<value>
					org/notepress/core/model/Category.hbm.xml
				</value>
				<value>
					org/notepress/core/model/FileMeta.hbm.xml
				</value>
				<value>
					org/notepress/core/model/File.hbm.xml
				</value>
				<value>
					org/notepress/core/model/Folder.hbm.xml
				</value>
				<value>
					org/notepress/core/model/ReplyMeta.hbm.xml
				</value>
				<value>
					org/notepress/core/model/Reply.hbm.xml
				</value>
				<value>
					org/notepress/core/model/FileExtra.hbm.xml
				</value>
				<value>
					org/notepress/core/model/Story.hbm.xml
				</value>
				<value>
					org/notepress/core/model/Tag.hbm.xml
				</value>	
				<value>
					org/notepress/core/model/Media.hbm.xml
				</value>
				<value>
					org/notepress/score/model/Score.hbm.xml
				</value>
			
			</list>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<tx:advice id="txHibernateAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="read*" propagation="REQUIRED" read-only="true"/>
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="query*" propagation="REQUIRED" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="serviceMethod"
			expression="execution(* org.notepress..*.*service..* (..))" />
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="txHibernateAdvice" />
	</aop:config>
	
	<bean id="optionsService"
		class="org.notepress.config.service.impl.OptionsServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="categoryService"
		class="org.notepress.core.service.impl.CategoryServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="storyService"
		class="org.notepress.core.service.impl.StoryServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="folderService"
		class="org.notepress.core.service.impl.FolderServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="fileService"
		class="org.notepress.core.service.impl.FileServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="mediaService"
		class="org.notepress.core.service.impl.MediaServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="functionService"
		class="org.notepress.security.service.impl.FunctionServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="accountService"
		class="org.notepress.security.service.impl.AccountServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		<bean id="replyService"
		class="org.notepress.core.service.impl.ReplyServiceImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>